@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

DIDIO muebles

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #fff; /*#63afad*/
$secondary_color: #000; /*#5d5d5d*/

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $secondary_color;
}

a {
	color: $primary_color;
}

a:hover {
	color: $primary_color;
}

/* ---------- Template ---------- */

/* Header */

.top {
	background-color: $secondary_color; /*#353535*/
	.columns {
		color: #fff;
		a {
			color: #fff;
			i.fa-shopping-cart {
				padding: 10px;
				background-color: $primary_color;
				font-size: 18px;
				color: $secondary_color;
			}
		}
	}
}

.menu_wrap {
	background-color: $secondary_color;
	.moduletable_m1 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				strong {
					color: #fff;
				}
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					height: 36px;
					background-color: transparent;
					display: flex;
					li {
						background: {
							image: url(menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						flex-grow: 1;
						&:last-child {
							background: none;
						}
						&.current-menu-item {
							a {
								color: #fff;
							}
						}
						&#menu-item-305 {
							background: none;
						}
						&#menu-item-38 {
							min-width: 122px;
							height: 140px;
							background: {
								image: url(logo.png);
								position: center;
								repeat: no-repeat;
							}
							font-size: 0;
							z-index: 1;
							a {
								min-width: 122px;
								height: 140px;
							}
						}
						a {
							color: $primary_color;
							text: {
								align: center;
								transform: uppercase;
							}
							display: block;
							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_m2 {
		p {
			margin: 0;
			a {
				margin: 0 15px;
				font-size: 22px;
				color: #fff;
				&#search_close {
					margin-left: -240px;
					padding: {
						left: 5px;
						right: 5px;
					}
					background-color: $primary_color;
					color: $secondary_color;
					position: absolute;
					display: none;
				}
			}
		}
	}
	.moduletable_s1 {
		width: 0;
		margin: -32px 0 0 -80px;
		position: absolute;
		z-index: 1000;
		display: none;
		opacity: 0;
		label.screen-reader-text {
			display: none;
		}
		input[type=search] {
			height: inherit;
			margin: 0;
			padding: 5px;
			border: 0;
		}
		input[type=submit] {
			display: none;
		}
	}
	.moduletable_to2 {
		.mega-menu-wrap {
			ul.mega-menu {
				li {
					&.mega-menu-item-38 {
						width: 160px !important;
						a {
							width: 160px !important;
							height: 160px !important;
							margin-top: -58px !important;
							background: {
								color: transparent !important;
								image: url(logo.png) !important;
								position: center !important;
								repeat: no-repeat !important;
							}
							color: transparent !important;
							position: absolute !important;
							z-index: 10 !important;
						}
					}
				}
			}
		}
	}
}

/* Content */

.banner {
	.columns {
		padding: 0;
	}
}

.content {
	margin: 30px 0;
	.wpcf7-form-control.wpcf7-submit.button {
		background-color: $secondary_color !important;
	}
}

/* WooCommerce */

.woocommerce {
	margin: 30px 0;
	.moduletable_l1 {
		h3 {
			margin: 0;
			margin-bottom: 10px;
			padding: 10px;
			background-color: $secondary_color;
			font-size: 18px;
			color: $primary_color;
			text: {
				align: center;
				transform: uppercase;
			}
		}
		ul.menu {
			li {
				margin-bottom: 5px;
				border: 1px solid #eaeaea;
				a {
					background-color: #eaeaea;
					font-size: 18px;
					color: $secondary_color;
					text: {
						align: center;
						transform: uppercase;
					}
					display: block;
					&:after {
						border-color: $primary_color transparent transparent;
					}
				}
				ul.children {
					margin: 0;
					li {
						margin: 5px 0;
						a {
							background-color: #fff;
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}
	h1.page-title {
		margin-bottom: 30px;
		background: {
			color: #fff;
			image: url(h3_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font-size: 18px;
		text: {
			align: center;
			transform: uppercase;
		}
	}
	table.variations {
		td.label {
			background: transparent;
		}
	}
	.price,
	.stock {
		color: $secondary_color !important;
	}
	a.button,
	button.button,
	input.button {
		background-color: $secondary_color !important;
		color: $primary_color !important;
	}
	.off-canvas-wrapper {
		min-height: 600px;
	}
}

div.ppt {
	display: none !important;
}

.color_1 {
	color: #f8db25;
}

.color_2 {
	color: #51bd95;
}

.color_3 {
	color: #ed307a;
}

.color_4 {
	color: #46c7f4;
}

/* Featured Products */

.featured_products {
	background: {
		image: url(featured_products_bg.png);
		position: center;
		repeat: repeat;
	}
	h3 {
		margin: 0;
		padding: 20px 0;
		background: {
			color: #fff;
			image: url(h3_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font-size: 18px;
		text: {
			align: center;
			transform: uppercase;
		}
	}
	.moduletable_fp1 {
		ul.product_list_widget {
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			li {
				margin: 20px;
				background-color: #fff;
				flex-grow: 1;
				a {
					img {
						margin: auto;
						text-align: center;
						display: block;
					}
					span {
						padding: 10px;
						background-color: $secondary_color;
						color: #fff;
						text: {
							align: center;
							transform: uppercase;
						}
						display: block;
					}
				}
				span.woocommerce-Price-amount {
					display: none;
				}
			}
		}
	}
}

/* Gallery */

.gallery {
	.moduletable_g1 {
		h3 {
			margin: 0;
			padding: 20px 0;
			background: {
				color: #fff;
				image: url(h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 18px;
			text: {
				align: center;
				transform: uppercase;
			}
		}
		.row {
			margin: 0;
		}
	}
}

/* Banner Bottom */

.banner_bottom {
	margin: 30px;
	.moduletable_bb1 {
		.flexslider {
			margin: 0;
		}
		.row {
			margin: 0;
			.columns {
				img {
					width: 100%;
				}
			}
		}
	}
}

/* Logos */

.logos {
	margin-bottom: 30px;
	h3 {
		margin-bottom: 30px;
		background: {
			color: #fff;
			image: url(h3_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font-size: 18px;
		text: {
			align: center;
			transform: uppercase;
		}
	}
}

/* Newsletter */

.newsletter {
	padding: 20px 0;
	background-color: #eaeaea;
	.moduletable_n1 {
		h2 {
			margin: 0;
			font-size: 18px;
			text-align: right;
		}
		.tnp-widget {
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 40%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $secondary_color;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $secondary_color;
	font-size: 18px;
	color: #fff;
	i {
		font-size: 22px;
	}
	a {
		color: #fff;
		&.button {
			margin: 0;
			padding: {
				left: 0;
				right: 0;
			}
			background-color: $secondary_color;
			border: 1px solid $primary_color;
			color: $primary_color;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $secondary_color;
	font-size: 14px;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Back To Top */

#back-to-top {
	width: 65px;
	height: 65px;
	right: 10px;
	bottom: 40px;
	background: {
		image: url(back-to-top_bg.png);
		repeat: no-repeat;
	}
	border: 0;
	font-size: 0;
	line-height: 65px;
	text: {
		align: center;
		decoration: none;
	}
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease-out;
	position: fixed;
	z-index: 9999;
	&:hover {
		background-image: url(back-to-top_bg_hover.png);
	}
	&.show {
		opacity: 1;
	}
}

/* ---------- Contents ---------- */

.box_1 {
	h1 {
		margin: 0;
		margin-bottom: 30px;
		font-size: 22px;
	}
	button {
		margin: 0;
		border-color: $secondary_color;
		color: $secondary_color;
	}
}

.box_2 {
	h1 {
		margin-bottom: 30px;
		background: {
			color: #fff;
			image: url(h3_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font-size: 18px;
		text-align: center;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* ---------- Template ---------- */

	/* Header */

	.top {
		.columns.text-left,
		.columns.text-right {
			padding: 5px 0;
			font-size: 10px;
			text-align: center;
		}
		.columns {
			a {
				i.fa-shopping-cart {
					padding: 5px;
				}
			}
		}
	}

	.header_logo {
		padding: 10px 0;
		background-color: $secondary_color;
		text-align: center;
	}

	.menu_wrap {
		.moduletable_m1 {
			.top-bar {
				.top-bar-title {
					margin: auto;
				}
				#responsive-menu {
					ul.menu {
						height: inherit;
						display: block;
						li {
							background: none;
							&#menu-item-38 {
								display: none !important;
							}
						}
					}
				}
			}
		}
		.moduletable_m2 {
			p {
				a {
					margin: 0 4px;
					&#search_close {
						margin-left: 4px;
						padding: inherit;
						position: inherit;
					}
				}
			}
		}
		.moduletable_s1 {
			width: 200px;
			margin: -32px 0 0 -200px;
		}
		.moduletable_to2 {
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						&.mega-menu-item-38 {
							display: none !important;
						}
					}
				}
			}
		}
	}

	/* Featured Products */

	.featured_products {
		.moduletable_fp1 {
			ul.product_list_widget {
				display: inherit;
			}
		}
	}

	/* Banner Bottom */

	.banner_bottom {
		.moduletable_bb1 {
			.row {
				.columns {
					margin: 10px 0;
				}
			}
		}
	}

	/* Newsletter */

	.newsletter {
		.moduletable_n1 {
			.tnp-widget {
				.tnp-field-email {
					width: 50%;
				}
				.tnp-field-button {
					width: 50%;
				}
			}
		}
	}

	/* ---------- Contents ---------- */

	.box_1 {
		h1 {
			font-size: 16px;
			img {
				width: 30px;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {

	/* ---------- Template ---------- */

	/* Header */

	.top-bar-title {
		margin: 0;
	}

}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}